@font-face{font-family:'icons';src:url('fonts/icons.eot?-3a50i6');src:url('fonts/icons.eot?#iefix-3a50i6') format('embedded-opentype'),
url('fonts/icons.woff?-3a50i6') format('woff'),
url('fonts/icons.ttf?-3a50i6') format('truetype'),
url('fonts/icons.svg?-3a50i6#icons') format('svg');font-weight:normal;font-style:normal;}
[class^="icon-"], [class*=" icon-"]{font-family:'icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-star-o:before{content:"\f006";}
.icon-external-link:before{content:"\f08e";}
.icon-copy:before{content:"\f0c5";}
.icon-folder-open-o:before{content:"\f115";}
header{width:100%;height:70px;position:relative;top:0;left:0;background:#1c1b1b;}
body{margin:0;padding:0;background:url(../img/body-background.jpg) 100% 100%;background-size:cover;}
.search-box{color:white;float:right;padding-right:4%;padding-top:2%;}
.logo{padding-top:1%;padding-left:1%;}
.notifications{background:rgb(235, 235, 235);padding:5px;margin:0px 0px 10px 0px;}
.nav-title{font-family:sans-serif;display:block;padding-bottom:4%;}
.page-body{background:rgba(116, 116, 116, 0.4);width:980px;height:950px;margin:0 auto;padding:10px 10px 0 10px;}
.nav-section{width:32.25%;height:100%;display:block;margin-left:1.6%;color:white;float:left;text-align:center;}
.nav-section:first-child{margin-left:0px;}
.menu{margin-top:2.4%;}
.menu-title{line-height:0px;}
.menu-caption{width:94%;display:inline-block;padding-left:6%;text-align:left;background:rgba(235, 235, 235, 1);height:30px;font-family:sans-serif;color:rgb(84, 84, 84);position:relative;}
.menu-arrow{display:block;width:10%;min-width:25px;height:30px;margin-right:4%;float:right;background:url(../img/icons/arrow-down.png);no-repeat 0 0;background-size:100%;}
.action-list{width:22.25%;-webkit-margin-before:0em;-webkit-margin-after:0em;-webkit-margin-start:0px;-webkit-margin-end:0px;-webkit-padding-start:0px;display:none;list-style-type:none;position:absolute;background:rgba(250, 250, 250, 1);text-align:left;}
.action-list li{width:95%;height:30px;margin-left:2.5%;line-height:30px;border-bottom:1px solid #D3D3D3;}
.action-list li a{text-decoration:none;font-family:sans-serif;color:rgb(84, 84, 84);padding-left:15px;display:block;}
.action-list li:last-child{border-bottom:none;display:block;}
.action-list li a:hover{background-color:#f1f1f1;}
.menu-caption:hover{background:rgba(235, 235, 235, 0.9);display:inline-block;}
.nav-section:hover{background-color:rgba(10,10,10,0.9) !important;}
.nav-section:hover .action-list{z-index:+3;display:block;}
.nav-section:hover .menu-arrow{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);transition-duration:1s;}
#tabs ul{-webkit-margin-before:0em;-webkit-margin-after:0em;-webkit-margin-start:0px;-webkit-margin-end:0px;-webkit-padding-start:0px;text-decoration:none;}
#tabs ul a{background:rgb(80, 80, 80);width:23.4%;height:40px;margin-top:20px;line-height:40px;margin-right:2.133%;text-align:center;list-style-type:none;float:left;}
#tabs ul a:last-child{margin-right:0px;}
#tabs ul a:first-child{background:rgb(235, 235, 235);color:black;}
#tabs ul a{overflow:hidden;text-decoration:none;font-family:sans-serif;font-size:20;color:rgb(250, 250, 250);}
#quick-reports,#my-folders,#my-team-folders,#public-folders{display:none;background:rgb(235, 235, 235);width:100%;clear:both;}
#quick-reports{display:block;}
.container{height:740px;width:98%;margin:0% 1% 0%;}
#wrap-input , #wrap-input1{position:relative;z-index:+2;float:right;display:none;width:100%;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 0 0 rgba(0, 0, 0, 0.19);background-color:white;}
#input,#input2{width:100%;}
.report{font-family:sans-serif;font-size:20;margin:1%;background:rgb(218, 218, 218);padding-top:0.5%;padding-bottom:0.5%;padding-left:1%;}
.name{margin-right:2%;}
.rep{margin-right:8%;}
.url{margin-left:7%;}
.report .link-name{width:22%;vertical-align:middle;}
.report .link-url{width:42%;vertical-align:middle;}
.link-url1{width:42%;vertical-align:middle;}
.link-name1{width:22%;vertical-align:middle;}
#settings , #settings1{float:right;padding-top:1%;text-align:center;width:4%;height:30px;background:rgb(235, 235, 235);}
#save ,#save1{background:black;color:white;width:10%;height:25px;margin-right:10px;margin-bottom:10px;float:right;border:none;}
#cancel ,#cancel1{background:white;color:black;text-decoration:underline;width:8%;height:25px;margin:0px;float:right;border:none;}
.expand,.expand2 ,.expand3{float:right;padding-top:1%;margin-right:1%;text-align:center;}
.expand2 , .expand3 {display:none;}
.frame ,.frame3{height:680px;width:67%;position:absolute;margin-top:40px;}
.frame2{}
.head-reports{padding-top:10px;width:100%;}
#links-list ,#links-list2{float:left;width:22%;height:30px;background:white;border:none;display:none;}
.links li{text-decoration:none;font-family:sans-serif;color:rgb(250, 250, 250);display:none;}