header {
    width: 100%;
    height: 70px;
    position: relative;
    top: 0;
    left: 0;
    background: #1c1b1b;


}
body {
    margin: 0;
    padding: 0;
    background: url(../img/body-background.jpg) 100% 100%;
    background-size: cover;
}


.search-box{
	color: white;
    float: right;
    padding-right: 40px;
    padding-top: 20px;
}
.logo{
	padding-top: 1%;
	padding-left: 1%;
}

.notifications{
    background: rgb(235, 235, 235);
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
.nav-title{
    font-family: sans-serif;
    display: block;  
    padding-bottom: 4%; 
}



.page-body {
    background: rgba(116, 116, 116, 0.4);
    width: 980px;
    height: 950px;
    margin: 0 auto;
    padding :10px 10px 0 10px;

}

 .nav-section{
    width: 32.25%;
    height: 100%;
    display: block;
    margin-left: 1.6%;
    color: white;
    float: left;
    text-align: center;
}  
.nav-section:first-child{
    margin-left: 0px;
}
.menu {
 margin-top: 46px;
}
.menu-title{

  line-height: 0px;
}

.menu-caption{
      width: 94%;
    display: inline-block;
    padding-left: 6%;
    text-align: left;
    background: rgba(235, 235, 235, 1);
  
    height: 30px;
    font-family: sans-serif;
    color: rgb(84, 84, 84);
    position: relative;
}

.menu-arrow {

    display: block;
    width: 10%;
    min-width: 25px;
    height: 30px;
    margin-right: 4%;
    float: right;
    background: url(../img/icons/arrow-down.png) ; no-repeat 0 0;
    background-size: 100%;
}
.action-list{
      width: 22.25%;

     -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    display:none;
    list-style-type: none;
    position: absolute;

    background: rgba(250, 250, 250, 1);
    text-align: left;

}
.action-list li{
    width: 95%;
    height: 30px;
    margin-left: 2.5%;
    line-height: 30px;
     border-bottom: 1px solid #D3D3D3; 
}
.action-list li a{
     text-decoration: none;
     font-family: sans-serif;
    color: rgb(84, 84, 84);
    padding-left: 15px;
    display:block;
}
.action-list li:last-child {
   border-bottom: none; 
   display:block;
}
.action-list li a:hover {
    background-color: #f1f1f1;

}

.menu-caption:hover {
  background: rgba(235, 235, 235, 0.9);
  display: inline-block;
}
.nav-section:hover {
    background-color: rgba(10,10,10,0.9) !important;
}
.nav-section:hover .action-list {
    display: block;
}


.nav-section:hover .menu-arrow {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
       transition-duration: 1s;
}


/**************************************************************************************************************/
/*                                         TABS                                                               */
/**************************************************************************************************************/

#tabs ul{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
     text-decoration: none;

}

#tabs ul a{
    background: rgb(135, 135, 135);
    width: 23.4%;
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    margin-right:  2.133%;
    text-align: center;
    list-style-type: none;
    float: left;
}
#tabs ul a:last-child{
 margin-right:  0px;
}
#tabs ul a:first-child{
 background: rgb(235, 235, 235);    
 color: black;
}

#tabs ul a{
    overflow: hidden;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20;
    color: rgb(250, 250, 250);
}

#quick-reports,#my-folders,#my-team-folders,#public-folders{
    display: none;
    background: rgb(235, 235, 235);
     width: 100%;
    height: 176px;
    clear: both;
}
#quick-reports {
    height: 700px;
    display :block;
}

#input{
    display: block;
    position: absolute;
    width: 67%;
    margin : 2.8% 1% 1% 1.2%;
    background: white;
    box-shadow: 10px 10px 5px #888888;

}
.report{
    margin: 1%;
    background: rgb(218, 218, 218);
    line-height: 5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left : 1%;
}
.name{
    margin-right: 2%;
}
.rep{
    margin-right: 8%;
}
.url{
    margin-left: 7%; 
}
.report .link-name {
    height: 5%;
    width: 22%;
    vertical-align: middle;
}
.report .link-url{
    height: 5%;
    width: 42%;
    vertical-align: middle;
}
#settings{
    float: right;
    padding-top: 1%;
    margin-right: 1%;
    text-align: center;
    width: 4%;
    height: 30px;
    background-color: white;

}
#save{
    background: black;
    color: white;
    width: 10%;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    border: none;
}









