## EXPIRES CACHING ##
<IfModule mod_expires.c>
   ExpiresActive On
   ExpiresByType webapp/img/body-background.jpg  "access 10 minutes"
   ExpiresByType img/icons/action-report-new.png  "access 10 minutes"
   ExpiresByType img/icons/action-report-top.png        "access 10 minutes"
   ExpiresByType img/icons/actions-help.png             "access 10 minutes"  
   ExpiresByType icons/arrow-down.png                   "access 10 minutes"
   ExpiresByType icons/expand.png                       "access 10 minutes"
   ExpiresByType img/icons/settings.png                 "access 10 minutes"
   ExpiresByType img/logo-netcraft.svg                  "access 10 minutes"


 

</IfModule>
## EXPIRES CACHING ##